batch:
  enabled: true

spring:
  application:
    name: @project.artifactId@
  main:
    web-application-type: none
  datasource:
    url:
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: false
    schemas: eh

logging:
  level:
    de.muenchen.eh: INFO

server:
  error:
    whitelabel:
      enabled: false

management:
  endpoints:
    access:
      default: none
    web:
      exposure:
        include:
          - health
          - info
          - prometheus
          - sbom
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
    info:
      access: read_only
    prometheus:
      access: read_only
    sbom:
      access: read_only
  info:
    env:
      enabled: true
    camel:
      enabled: false
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

info:
  application:
    name: @project.artifactId@
    version: @project.version@
    description: @project.description@
  build:
    java.version: @java.version@
    camel.version: @camel-spring-boot-dependencies.version@

camel:
  servlet:
    mapping:
      context-path: /api/*

# Custom properties
xjustiz:
  version: 3.5.1
  interface:
    document:
      processor: direct:xjustiz-document-processor
    file:
      consume:
      line-break: \n
      error:
    eakte:

efile:
  case-file:
  #    subject-data-values:
  #      gp-name: 'Name-des-Geschaeftspartner'
  #      gp-first-name: 'Vorname-des-Geschaeftspartner'
  #      gp-birth-date: 'Geburtstag-des-Geschaeftspartner'
  fine:
#    subject-data-values:
#      owi-number: 'Ordnungswidrigkeiten-Nummer'